<div class="example-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="site-nav-bar">
    <button mat-icon-button (click)="snav.toggle()">
      <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
    </button>
    <h2>振发建材</h2>
    <ng-container *ngFor="let navBarItem of navBarItemList">
      <app-nav-bar-item [navItem]="navBarItem"></app-nav-bar-item>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="!mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{
          nav
        }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="site-content-wrapper">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
