.site-nav-bar {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.site-nav-home-button {
  min-width: unset;
  font-size: 18px;
  font-weight: bold;
}

.side-nav {
  min-width: 200px;
  padding-top: 56px;
  position: fixed;
  top: 0;
  bottom: 0;

  @media screen and (min-width: 600px) {
    padding-top: 64px;
  }
}

.side-nav-container {
  position: static;
  padding-top: 56px;

  @media screen and (min-width: 600px) {
    padding-top: 64px;
  }
}
