<div [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="site-nav-bar">
    <button mat-icon-button (click)="snav.toggle()">
      <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
    </button>
    <button mat-button [routerLink]="['/']" class="site-nav-home-button">
      西安宸丰盛贸易有限公司
    </button>
    <ng-container *ngFor="let navBarItem of navBarItemList">
      <app-nav-bar-item [navItem]="navBarItem"></app-nav-bar-item>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="!mobileQuery.matches"
      class="side-nav"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="category/{{ cat.id }}"
          *ngFor="let cat of categories"
        >
          <div style="width: 100%; text-align: center">
            {{ cat.name }}
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
