.site-nav-bar {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.site-content-wrapper {
  padding-top: 20px;
  height: 100vh;
}

.side-nav-container {
  margin-top: 56px;
}

.side-nav {
  min-width: 200px;
}
